@import '../vis/~styles/shared';

.stack {
  composes: flex-row;
}

.vis {
  flex: 0 0 50%;
}

.info {
  flex: 0 0 50%;
  padding: 10px;
}

.buttons {
  composes: flex-row;

  .button {
    flex-grow: 1;
    padding: 10px 20px;
    margin: 10px;
  }
}

.node {
  composes: flex-row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 1px;
  height: 40px;
  background: $dark6;
}
.node.filled {
  background: $green3;
  color: white;
}
